@import "tailwindcss";

@tailwind utilities;

@layer theme, base, components, utilities;

@layer utilities {
  .label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #121212;
    font-size: 16px;
    font-family: OpenSans;
    position: relative;
    /* width: 100%; */
    span {
      color: red;
      position: absolute;
      top: 0;
      left: 19%;
    }
    .name {
      left: 14%;
    }
    .email {
      left: 18%;
    }
    input {
      width: 100%;
      border: 1px solid #8a8c8e;
      background: #fafafa;
      padding: 12px 16px;
      border-radius: 8px;
      outline: none;
      transition: all 0.2s ease;
    }

    input:focus {
      border: #ed006c33 1px solid;
      /* box-shadow: 0 0 0 4px rgba(255, 7, 169, 0.15); */
    }
    textarea {
      width: 100%;
      height: 150px;
      border: 1px solid #8a8c8e;
      background: #fafafa;
      padding: 12px 16px;
      border-radius: 8px;
      outline: none;
      transition: all 0.2s ease;
    }
    textarea:focus {
      border: #ed006c33 1px solid;
    }
  }
}

@layer utilities {
  .apply {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border-radius: 40px;
    padding: 8px;
    background: #ffffff40;
    cursor: pointer;
    transition: background 0.3s ease-in;

    &:hover {
      background: #ed006c40;
    }
  }
}

@layer utilities {
  /* HTML: <div class="loader"></div> */
  .loader {
    width: 40px;
    height: 20px;
    --c: no-repeat radial-gradient(farthest-side, #000 93%, #0000);
    background: var(--c) 0 0, var(--c) 50% 0;
    background-size: 8px 8px;
    position: relative;
    clip-path: inset(-200% -100% 0 0);
    animation: l6-0 1.5s linear infinite;
  }
  .loader:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    background: #000;
    left: -16px;
    top: 0;
    animation: l6-1 1.5s linear infinite,
      l6-2 0.5s cubic-bezier(0, 200, 0.8, 200) infinite;
  }
  .loader:after {
    content: "";
    position: absolute;
    inset: 0 0 auto auto;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
    animation: l6-3 1.5s linear infinite;
  }
  @keyframes l6-0 {
    0%,
    30% {
      background-position: 0 0, 50% 0;
    }
    33% {
      background-position: 0 100%, 50% 0;
    }
    41%,
    63% {
      background-position: 0 0, 50% 0;
    }
    66% {
      background-position: 0 0, 50% 100%;
    }
    74%,
    100% {
      background-position: 0 0, 50% 0;
    }
  }
  @keyframes l6-1 {
    90% {
      transform: translateY(0);
    }
    95% {
      transform: translateY(15px);
    }
    100% {
      transform: translateY(15px);
      left: calc(100% - 8px);
    }
  }
  @keyframes l6-2 {
    100% {
      top: -0.1px;
    }
  }
  @keyframes l6-3 {
    0%,
    80%,
    100% {
      transform: translate(0);
    }
    90% {
      transform: translate(26px);
    }
  }
}

@layer utilities {
  .radio {
    overflow: hidden;
    position: relative;

    input[type="radio"] {
      position: absolute;
      opacity: 0;

      + label {
        gap: 8px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        align-items: center;

        &:before {
          content: "";
          background: var(--Base-White, #fff);
          border-radius: 100%;
          border: 1px solid #ff07a9;
          /* display: inline-block; */
          width: 20px;
          height: 20px;
          text-align: center;
          transition: all 250ms ease;
        }
      }

      &:checked {
        + label {
          &:before {
            background-color: #ff07a9;
            box-shadow: inset 0 0 0 2px #f9f5ff;
            cursor: pointer;
          }
        }
      }

      &:focus {
        + label {
          &:before {
            outline: none;
            border-color: #ff07a9;
          }
        }
      }
    }

    label {
      color: #1a1a1a;
      font-style: normal;
    }
  }
}

@layer utilities {
  .button {
    background: linear-gradient(180deg, #ff07a9 0%, #b90d7d 100%);
    opacity: 1;
    gap: 8px;
    border-radius: 24px;
    padding: 8px 16px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    transition: background 0.5s ease-in;
  }

  .button:hover {
    background: linear-gradient(180deg, #ed006c 0%, #b90d7d 100%);
  }

  .button-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 2px solid #ff07a9;
    border-radius: 24px;
    padding: 8px 16px;
    cursor: pointer;
    color: #ff07a9;
    font-weight: 700;
    transition: background 1s ease-in-out;
  }
  .button-secondary:hover {
    background: linear-gradient(
      180deg,
      rgba(237, 0, 108, 0.2) 0%,
      rgba(185, 13, 125, 0.2) 100%
    );
  }

  .card {
    background: #fff9fb;
    border-radius: 8px 60px 8px 60px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
    transition: background 0.3s ease-in;
    h2 {
      color: #111111;
      transition: color 0.3s ease-in;
    }

    h6 {
      color: #393939 !important;
      transition: color 0.3s ease-in;
    }
  }

  .card:hover {
    background: #ff07a9;
    h2 {
      color: #fff;
    }

    h6 {
      color: #fff !important;
    }
  }
}

@layer utilities {
  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE & Edge */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

@layer utilities {
  .star {
    position: relative;
    margin: 1em auto;
    width: 1em;
    font-size: 12em;
  }

  .star:before {
    content: "";
    position: absolute;
    background: red;
    width: 1em;
    height: 1.15em;
    transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
  }

  .star:after {
    content: "";
    position: absolute;
    background: red;
    width: 1em;
    height: 1.15em;
    transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
  }
}

@layer utilities {
  .footer-text {
    background: linear-gradient(
      206.33deg,
      #ff07a9 23.58%,
      #ff74c2 59.31%,
      #ed006c 95.03%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: Yeseva;
  src: url("../../public/fonts/Yeseva_One/YesevaOne-Regular.ttf");
}

@font-face {
  font-family: OpenSans;
  src: url("../../public/fonts/Open_Sans/OpenSans-Light.ttf");
}

@font-face {
  font-family: OpenSans-Semi;
  src: url("../../public/fonts/Open_Sans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: OpenSans-Bold;
  src: url("../../public/fonts/Open_Sans/OpenSans-Bold.ttf");
}

@layer components {
  .card-shadow {
    box-shadow: 0 10px 25px rgba(233, 30, 99, 0.1);
  }

  .gradient-overlay {
    background: linear-gradient(
      135deg,
      rgba(133, 30, 99, 0.8) 0%,
      rgba(156, 39, 176, 0.6) 70%
    );
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-playfair: var(--font-playfair);
  --font-open: var(--font-open-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
