@import "tailwindcss";

@tailwind utilities;

@layer theme, base, components, utilities;

@layer utilities {
  .label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #121212;
    font-size: 16px;
    font-family: OpenSans;
    position: relative;
    /* width: 100%; */
    span {
      color: red;
      position: absolute;
      top: 0;
      left: 19%;
    }
    .name {
      left: 14%;
    }
    .email {
      left: 18%;
    }
    input {
      width: 100%;
      border: 1px solid #8a8c8e;
      background: #fafafa;
      padding: 12px 16px;
      border-radius: 8px;
      outline: none;
      transition: all 0.2s ease;
    }

    input:focus {
      border: #ED006C33 1px solid;
      /* box-shadow: 0 0 0 4px rgba(255, 7, 169, 0.15); */
    }
    textarea {
      width: 100%;
      height: 150px;
      border: 1px solid #8a8c8e;
      background: #fafafa;
      padding: 12px 16px;
      border-radius: 8px;
      outline: none;
      transition: all 0.2s ease;
    }
    textarea:focus {
      border: #ED006C33 1px solid;
    } 
  }
}

@layer utilities {
  .radio {
    overflow: hidden;
    position: relative;
    

    input[type="radio"] {
      position: absolute;
      opacity: 0;

      + label {
        gap: 8px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        align-items: center;

        &:before {
          content: "";
          background: var(--Base-White, #fff);
          border-radius: 100%;
          border: 1px solid #FF07A9;
          /* display: inline-block; */
          width: 20px;
          height: 20px;
          text-align: center;
          transition: all 250ms ease;
        }
      }

      &:checked {
        + label {
          &:before {
            background-color: #FF07A9;
            box-shadow: inset 0 0 0 2px #f9f5ff;
            cursor: pointer;
          }
        }
      }

      &:focus {
        + label {
          &:before {
            outline: none;
            border-color: #FF07A9;
          }
        }
      }
    }

    label {
      color: #1a1a1a;
      font-style: normal;
    }
  }
}

@layer utilities {
  .button {
    background: linear-gradient(180deg, #ff07a9 0%, #b90d7d 100%);
    opacity: 1;
    gap: 8px;
    border-radius: 24px;
    padding: 8px 16px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
  }

  .button-secondary {
    background: #fff;
    border: 1.5px solid #FF07A9;
    /* border-image-source: linear-gradient(180deg, #ff07a9 0%, #b90d7d 100%); */
    border-radius: 24px;
    padding: 8px 16px;
    cursor: pointer;
    color: #FF07A9;
    font-weight: 700;
  }
}

@layer utilities {
  .star {
    position: relative;
    margin: 1em auto;
    width: 1em;
    font-size: 12em;
  }

  .star:before {
    content: "";
    position: absolute;
    background: red;
    width: 1em;
    height: 1.15em;
    transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
  }

  .star:after {
    content: "";
    position: absolute;
    background: red;
    width: 1em;
    height: 1.15em;
    transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
  }
}

@layer utilities {
  .footer-text {
    background: linear-gradient(
      206.33deg,
      #ff07a9 23.58%,
      #ff74c2 59.31%,
      #ed006c 95.03%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: Yeseva;
  src: url("../../public/fonts/Yeseva_One/YesevaOne-Regular.ttf");
}

@font-face {
  font-family: OpenSans;
  src: url("../../public/fonts/Open_Sans/OpenSans-Light.ttf");
}

@font-face {
  font-family: OpenSans-Semi;
  src: url("../../public/fonts/Open_Sans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: OpenSans-Bold;
  src: url("../../public/fonts/Open_Sans/OpenSans-Bold.ttf");
}

@layer components {
  .card-shadow {
    box-shadow: 0 10px 25px rgba(233, 30, 99, 0.1);
  }

  .gradient-overlay {
    background: linear-gradient(
      135deg,
      rgba(133, 30, 99, 0.8) 0%,
      rgba(156, 39, 176, 0.6) 70%
    );
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-playfair: var(--font-playfair);
  --font-open: var(--font-open-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
